.container-fluid {
	background-color: white;
	border: none;
	font-size: 23px;
	// background-image: url("http://res.cloudinary.com/lx9gdutds/image/upload/v1498675254/updated-header_eh8c27.png");
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
	width:40%
}
.navbar.navbar-inverse{
 border: 0;
 -webkit-box-shadow: none;
 box-shadow: none;
 width:0px;

}
.navbar-brand {
	font-size: 30px;
}
#logo{
	font-size: 25px;

}
#header-img{
	display: block;
    margin: auto;
    width: 40%;
    padding-bottom: 200px;


}


.navbar.navbar-inverse a:hover{
	color: purple;

}
#register:hover {
	color: purple;

}
#register {
font-size:16px;

}
#login:hover {
	color: purple;

}

#login {
font-size:16px;

}
.nav.navbar-nav{
	 display: block;
    width: 10px;
    
}
body {
	background-image: url("http://res.cloudinary.com/lx9gdutds/image/upload/v1486674895/Anais_Black_White_fmx9wq.png");
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center 10px;

	
}

// @media (min-width: 768px) {
//   .sidebar-nav .navbar .navbar-collapse {
//     padding: 0;
//     max-height: none;
//   }
//   .sidebar-nav .navbar ul {
//     float: none;
//     display: block;
//   }
//   .sidebar-nav .navbar li {
//     float: none;
//     display: block;
//   }
//   .sidebar-nav .navbar li a {
//     padding-top: 12px;
//     padding-bottom: 12px;
//   }
// }